@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>
<h2>
    Đây là trang web dùng để trao đổi, bán lại đồ dùng học tập dành riêng cho sinh viên FU.
    Mọi thắc mắc xin liên hệ đến số điện thoại
    <a href="tel:0375995822" style="color:blue; text-decoration: underline;">0375 995 822</a> để được hỗ trợ.
</h2>


